<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Home</title>
</head>
<body>

     {{>navbar}}
     {{!--img section --}}   
    <div class="container-fluid mt-5">
        <div class="row">
           <div class="col-md-10 col-12 mx-auto">
             <div class="row">
                 <div class="col-md-6 col-12 hero-text order-md-0 order-1  d-flex justify-content-center align-items-start flex-column">
                      <h1>We will help you to</h1>
                       <h1>Grow Your Business </h1>
                       <p>we are the team of <span class="bold-style"> Professional Developer </span></p>
                       <button class="btn-style  btn-primary">Read more</button>
                 </div>

                  <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                       <figure>
                        <img src="images/growth.svg" alt="herosection_images">
                       </figure>
                 </div>
             </div>
           </div>
        </div>
      </div>

  {{!--about us --}} 
    {{>about}}
  {{!--about us --}} 

  {{!--services --}} 
    {{>service}}
  {{!--service--}} 

  {{!--maps --}} 
    {{>maps}}
  {{!--maps--}} 

  {{!--conatct us --}} 
    {{>contact}}
  {{!--contact us--}} 

   <script src="../jq/jquery.js" type="text/javascript"></script>   
   <script src="../jq/bootstrap.js" type="text/javascript"></script>   
</body>
</html>