<div class="container-fluid mt-5 about-style" id="aboutid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">About us</h1>
      <p class="text-center sub-heading">Join us in our social cause </p>
      <div class="row">
        <div class="col-md-6 col-12 hero-text ">
          <figure>
            <img src="images/ngo2.png" alt="herosection_images" height="300px" width="300">
          </figure>
        </div>

        <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
          <h1>We are a group of Social Workers</h1>
          <p>Welcome to  <span class="bold-style"> VAPE NGO</span> the number one organization in helping our envioronment</p>
          <button class="btn-style  btn-primary">Read more</button>
        </div>
      </div>
    </div>
  </div>
</div>