      <div class="container-fluid mt-5 about-style" id="aboutid">
        <div class="row">
           <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">About us</h1>
            <p class="text-center sub-heading">grow your Business with us </p>
             <div class="row">
                <div class="col-md-6 col-12 hero-text ">
                       <figure>
                        <img src="images/about.svg" alt="herosection_images">
                       </figure>
                 </div>

                 <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
                      <h1>We are the Professional Developer</h1>
                         <p>Welcome to  <span class="bold-style"> Techbitzz</span> the number one choice to grow fast as a Business administration</p>
                      
                       <button class="btn-style  btn-primary">Read more</button>
                 </div>

                
             </div>
           </div>
        </div>
      </div>