    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Contribution</th>
        </tr>
      </thead> 
      <tbody>
        {{#each data}}
        <tr>
          <td>{{this.name}}</td>
          <td>{{this.email}}</td>
          <td>{{this.phone}}</td>
          <td>{{this.message}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
